@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


/* メディアクエリ */
$breakpoints: (
 'sm': 'screen and (max-width: 767px)', //767px以下
 'md': 'screen and (min-width: 768px)' //768px以上
) !default;


@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* color */
$main-color: #333;
$nav-color: #330066;
$title: #165e83;
$bg-color: #f8f4e6;
$sub-bg: #d9cfd8;

/* extend */
.hoverChanged {
  cursor: pointer;
  opacity: .6;
}


/* common */
@include mq(sm) {
  .is-pc {
    display: none;
  }
}

@include mq(md) {
  .is-sp {
    display: none;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.container {
  max-width: 1080px;
  width: 100%;
}

.section {
  padding: 40px 90px;

  @include mq(sm) {
    padding: 60px 20px;
  }
}

.util-title {
  padding-top: 40px;
  margin-bottom: 40px;
  font-family: 'Abril Fatface', cursive,Verdana, Geneva, Tahoma, sans-serif;
  font-size: 38px;
  text-align: center;
  color: $title;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 60px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $title;
    border-radius: 5px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
